footer {
    background-color: #fff;
    height:70px;
    width: 100%;
    position: fixed;
    bottom: 0%;
    display: flex;
    justify-content: center;

    border-top: 1px solid #cccccccc;
}

footer p {
    align-self: center;
}
